[Unit]
Description=Gunicorn server for {{ playbook_vars.subdomain_name }}

[Service]
Restart=on-failure
User=ubuntu
WorkingDirectory=/home/ubuntu/sites/{{ playbook_vars.subdomain_name }}
EnvironmentFile=/home/ubuntu/sites/{{ playbook_vars.subdomain_name }}/.env

ExecStart=/home/ubuntu/sites/{{ playbook_vars.subdomain_name }}/venv/bin/python3.8 /home/ubuntu/sites/{{ playbook_vars.subdomain_name }}/venv/bin/gunicorn --bind unix:/tmp/{{ playbook_vars.subdomain_name }}.socket {{ playbook_vars.subdomain_name }}.wsgi:application

[Install]
WantedBy=multi-user.target
